{
  "plugins": [
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-partial-application"
  ]
}
